django
gunicorn
django-heroku
setuptools
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
gspread
asyncio
async-timeout
aiohttp
websockets
https://github.com/Rapptz/discord.py/archive/rewrite.zip